body {
  padding: 70px 0;
  background: #ffffff;
}

tr.bordered {
	border-bottom: 1px solid #DCDCDC;
}

th, td {
    padding: 10px 5px 10px 0;
}

.footer {
  padding-top: 30px;
 }

.error {
  color: red;
  font-size: 0.8em;
}

.input-group {
  margin: 15px 0;
}










